* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Nexa Light';
}

@font-face {
    font-family: 'Nexa Light';
    src: url("../assets/fonts/Nexa\ Light.otf");
}

@font-face {
    font-family: 'Nexa Bold';
    src: url("../assets/fonts/Nexa\ Bold.otf");
}

#navbar-component {
    width: 100%;
}

.section-heading {
    text-align: center;
    font-size: 48px;
    font-family: "Nexa Bold";
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.btn {
    border: none;
    transition: all .2s;
}

.btn:hover {
    transform: scale(.95);
    transition: all .2s ease-out;
}

button, i {
    cursor: pointer;
}


.btn-call-sm {
    padding: 10px;
    border-radius: 5px;
    letter-spacing: .5px;
    color: #fff;
    background: linear-gradient(to right, #267CF1, rgb(0, 55, 173));
    text-transform: uppercase;
    font-weight: bold;
}

.btn-call-md {
    padding: 14px;
    border-radius: 5px;
    letter-spacing: .5px;
    color: #fff;
    background: linear-gradient(to right, #267CF1, rgb(0, 55, 173));
    text-transform: uppercase;
    font-weight: bold;
}

.btn-call-lg {
    padding: 16px 16px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to right, #267CF1, rgb(0, 55, 173));
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    padding-left: 8rem;
    padding-right: 8rem;
}