footer {
    font-family: "Nexa Light";
}

#footer-section {
    padding-top: 0;
}

#footer-1 {
    padding: 6rem 6rem;
}

#footer-2,
#footer-3 {
    padding: 3rem 6rem;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-family: "Nexa Bold";
    font-size: 20px;
    color: #fff;
    padding-bottom: 32px;
}

.footer-link {
    color: #8c8c8c;
    font-size: 18px;
    padding: 12px 0;
    margin: 5px 0;
    transition: all 0.2s;
}

.footer-link:hover {
    color: #cecece;
    transition: all 0.2s;
}

/* Footer 1 */
#footer-1 {
    background-color: #21212b;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

#footer-1-logo {
    width: 250px;
    margin-bottom: 40px;
}

#footer-1-text {
    margin-bottom: 24px;
    color: #fff;
    font-size: 32px;
}

.footer-1-col-2 {
    display: flex;
    gap: 50px;
    align-items: center;
    color: #fff;
}

.footer-1-col-2 ul li {
    padding: 5px 0;
}

#bahamas-img {
    width: 250px;
}

#line {
    height: 150px;
    background-color: #fff;
    width: 1px;
}

/* Footer 2 */
#footer-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #1d1d25;
}

/* Footer 3 */
#footer-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15151f;
    color: #fff;
}

#footer-3-text {
    font-size: 18px;
}

.social-links {
}

footer .fab {
    font-size: 32px;
    margin: 0 5px;
}
