* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

/* Assigns styling to the first p tag
 in the portfolio section */
#portfolio-section > p {
    margin-bottom: 8rem;
}

/* body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
} */

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600;
}

.section {
    padding: 120px 0;
}

.section-gap {
    padding-bottom: 30px;
}

.gap {
    padding-top: 200px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.hover-me {
    display: flex;
    background-color: #077bff81;
    font-size: 26px;
    color: #fff;
    width: 150px;
    padding: 2px;
}

.on-hover {
    transition: all 0.18s ease-in-out !important;
    display: none;
    color: white;
}

.screen-holder {
    width: 100% auto;
}

/* PORTFOLIO HEAD */

.container-portfolio {
    display: flexbox;
    padding: 0px 120px;
    padding-bottom: 160px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
}

.align-items-center {
    justify-self: center;
    align-items: center;
}

.text-portfolio {
    font-size: 68px;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #077aff;
}

/* LIMEADE */

.container-limeade {
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    padding: 0px 120px;
    margin: auto;
}

.text-limeade {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    color: #212529;
}

.subtext-limeade {
    font-size: 28px;
    text-transform: uppercase;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    color: #212529;
}

.sub-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 0px;
    font-size: 26px;
    color: #212529;
}

.text-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #8c8c8c;
}

.align-items-start {
    padding: 10px;
}

.btn-limeade {
    padding: 10px;
    margin-top: -40px;
    display: flex;
    float: left;
}

.btn-color--primary {
    border: solid #077aff;
    color: #077aff;
}

.btn-fill--outline {
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 68px;
}

/* LIMEADE IMAGES */

.card-container {
    display: flexbox;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.card-container img {
    position: relative;
    max-width: 350px;
    border: none;
    border-radius: 16px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

images-container {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.lime-img {
    margin-right: 150px;
}

.parent {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.child {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
}

.child-2 {
    grid-area: 1 / 1 / 2 / 2;
    margin: 50px 90px;
    z-index: 1;
}

.child-3 {
    grid-area: 1 / 1 / 2 / 2;
    margin: -100px 50px;
    z-index: 0;
}

.limeParent-hover:hover {
    opacity: 0;
}

.limeParent-hover {
    z-index: 4;
    vertical-align: top;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.3\5s ease;
    opacity: 1;
}

/* SIX N FOUR */

.container-sixfour {
    display: flexbox;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    padding: 0px 120px;
    margin: auto;
}

.text-sixfour {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 0px;
    display: flexbox;
    justify-items: right;
    text-align: right;
    align-items: center;
    color: #212529;
}

.subtext-sixfour {
    font-size: 28px;
    text-transform: uppercase;
    margin: 0px 0px;
    display: flexbox;
    justify-items: right;
    text-align: right;
    align-items: center;
    color: #212529;
}

.text-description-sixfour {
    display: block;
    align-items: center;
    text-align: right;
    margin-bottom: 30px;
    color: #8c8c8c;
}

/* .text-align-right {
    display: block;
    align-items: center;
} */

.sixfour {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.btn-sixfour {
    padding: 10px;
    margin-top: -40px;
    display: flex;
    float: right;
}

.btn-color--primary {
    border: solid #077aff;
    color: #077aff;
}

.btn-fill--outline {
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 6px;
}

/* SIX N FOUR IMAGES */

.card-container {
    display: flexbox;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.card-container img {
    position: relative;
    max-width: 350px;
    border: none;
    border-radius: 16px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

images-container {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.sixfour-img {
    margin-right: 150px;
}

.sixfour-parent {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.sixfour-child {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
}

.sixfour-child-2 {
    grid-area: 1 / 1 / 2 / 2;
    margin: 50px 90px;
    z-index: 1;
}

.sixfour-child-3 {
    grid-area: 1 / 1 / 2 / 2;
    margin: -100px 50px;
    z-index: 0;
}

.parent-hover:hover {
    opacity: 0;
}

.parent-hover {
    z-index: 4;
    vertical-align: top;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    opacity: 1;
}

/* TEAM */

.container-team {
    display: flexbox;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    padding: 0px 120px;
    margin: 0px 60px;
}
